# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
htmlcov/
.tox/
*.egg-info/
dist/
build/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# AWS
.aws-sam/
samconfig.toml

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# LocalStack
.localstack/
volume/

# Docker
.docker/