openapi: 3.0.3
info:
  title: Presentation Generator API
  description: Serverless API for generating PowerPoint presentations
  version: 1.0.0
  contact:
    name: Development Team
    email: dev@example.com

servers:
  - url: https://api.presentation-generator.com/v1
    description: Production server
  - url: https://dev-api.presentation-generator.com/v1
    description: Development server

paths:
  /health:
    get:
      summary: Health check endpoint
      description: Returns the health status of the API
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "healthy"
                  timestamp:
                    type: string
                    format: date-time

  /presentations:
    post:
      summary: Generate a new presentation
      description: Creates a new PowerPoint presentation based on provided content
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  example: "Q4 Business Review"
                content:
                  type: string
                  example: "Generate slides about our Q4 performance..."
                template:
                  type: string
                  example: "corporate"
      responses:
        '201':
          description: Presentation created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "pres-123456"
                  status:
                    type: string
                    example: "processing"
                  download_url:
                    type: string
                    nullable: true

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []
